*{
  margin: 0;
  padding: 0;
}
body {
  background-image: url('./assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

}

@media (max-width: 768px) {
  body {
    background-size: cover;
    background-position: center; 
    height: 90vh;
    overflow: hidden;
  }
}
